name: Build and Run Javascript Unit Tests

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 8.15.1
          package_json_file: ./frontend/package.json
          run_install: true

      - name: Build frontend
        working-directory: ./frontend
        run: pnpm build

      - name: Run frontend unit tests
        working-directory: ./frontend
        run: pnpm test:unit

