name: Lint GitHub Actions

on:
  push:
    branches: ["master"]
    paths:
      - ".github/workflows/**"
  pull_request:
    branches: ["master"]
    paths:
      - ".github/workflows/**"

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download actionlint
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -version
      - name: Run actionlint
        run: ./actionlint -color
