name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Setup Docker
      uses: docker/setup-docker-action@v4.7.0
    
    - name: Set up docker compose
      uses: docker/setup-compose-action@v1.2.0
      with:
        version: v5.0.2
        
    - name: Start mysql & flyway  
      run: docker compose up mysql flyway -d

    #TODO: wait for port 3306
    - name: Run flyway migration
      run: ./scripts/database/flyway.sh migrate

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
      
    - name: Build and test with Gradle Wrapper
      run: ./gradlew build
    
    - name: Setup pnpm
      uses: pnpm/action-setup@v4.2.0
      with:
        version: 8.15.1
        package_json_file: ./frontend/package.json

    - name: Build frontend
      working-directory: ./frontend
      run: pnpm build

    - name: Run frontend unit tests
      working-directory: ./frontend
      run: pnpm test:unit

    - name: Build and publish the docker image locally with Gradle Wrapper
      run: ./gradlew jibDockerBuild
      
    - name: Start integration test container 
      run: docker compose up integration_test -d
      
    - name: Run E2E test
      working-directory: ./frontend
      run: pnpm test:integration
          

