name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Setup Docker
      uses: docker/setup-docker-action@v4.7.0
    
    - name: Set up docker compose
      uses: docker/setup-compose-action@v1.2.0
      with:
        version: v5.0.2
        
    - name: Start mysql & flyway  
      run: docker compose up mysql flyway -d

    - name: Wait for MySQL
      run: |
        timeout 60s sh -c "until [ \"$(docker inspect -f {{.State.Health.Status}} agentpassvault-mysql)\" == \"healthy\" ]; do sleep 2; done"

    - name: Create databases
      run: |
        docker exec agentpassvault-mysql mysql -uroot -proot -e "CREATE DATABASE IF NOT EXISTS agentpassvault_dev; CREATE DATABASE IF NOT EXISTS agentpassvault_test;"

    - name: Run flyway migration
      run: ./scripts/database/flyway.sh migrate

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
      
    - name: Build and test with Gradle Wrapper
      run: ./gradlew build
    
    - name: Setup pnpm
      uses: pnpm/action-setup@v4.2.0
      with:
        version: 8.15.1
        package_json_file: ./frontend/package.json
        run_install: true

    - name: Build frontend
      working-directory: ./frontend
      run: pnpm build

    - name: Run frontend unit tests
      working-directory: ./frontend
      run: pnpm test:unit

    - name: Build and publish the docker image locally with Gradle Wrapper
      run: ./gradlew jibDockerBuild
      
    - name: Start integration test container 
      run: docker compose up integration_test -d

    - name: Wait for integration test container
      run: |
        timeout 60s sh -c "until [ \"$(docker inspect -f {{.State.Health.Status}} agentpassvault-integration_test)\" == \"healthy\" ]; do sleep 5; done"
      
    - name: Run E2E test
      working-directory: ./frontend
      run: pnpm test:integration
          

